name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    ci:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: ./.github/actions/setup-monorepo

            - name: Lint
              run: bun run check

            - name: Build
              run: bun run build

            - name: Test (core)
              run: bun test
              working-directory: package

            - name: Test (webpack loader)
              run: bun test
              working-directory: plugins/webpack
